section header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section table td {
    padding: 10px;
}

/* PAR */
section table thead th {
    background-color: white;
}

/* ÍMPAR */
section table tr:nth-child(odd) {
    background-color: lightgray;
}