#div {
    width: 800px;
    height: center;
    padding-right: 2%;
    margin-right: auto;
    margin-left: auto;
}

p{
    text-align: center;
    text-indent:50px;
}
h1
{
    text-align: center;
    text-indent: 30px;
}